[build]
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/admin/no-access.html"
  to = "/admin/no-access.html"
  status = 200

[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200
